*{
    margin: 0;  
    font-family: Arial;
     border: border-box; /*jitana be padding/ kisi bi element ko mile oo size width or height ke andar count hona chayiye. */

}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;  /*  to display logo,adreess etc within same line otherwise they will display below */
    align-items: center;
    justify-content: space-evenly; /* to display all componenets with equal space*/
}

.nav-logo{
    height: 50px;
    width: 100px;

}

.logo
{
    background-image: url("Img/amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100%;
}

.border
{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/*box 2 */
.add-first{
color: #cccccc;
font-size:1rem; /* comapare with root font sixe good practice for responsive */
margin-left:15px;  /* to provide the gap between location icon and deliver to */
}

.add-sec{
    font-size:1rem; 
    margin-left: 3px;
}

.add-icon{       
    display: flex;  /* to get location and india on same line*/
    align-items: center;
}


/**box-3**/

.nav-search
{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}

.search-select{
    background-color: #f3f3f3;
    width: 5px;
    text-align: center;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}

.search-input
{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon
{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange;
}

/*box4*/
span{
    font-size: 0.7rem;
}
.nav-second
{
    font-size: 0.85rem;
    font-weight: 700;
}

/*box6*/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}


/*Panel*/
.panel
{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items:center;  /*verticaly align*/
    justify-content: space-evenly;  /*horizontally*/
}

.panel-ops p{
display: inline;
margin-left: 10px;  /* to give little space between 2 p tags*/
}

.panel-ops{
    width: 70%;
}

/**hero section**/
.hero-section{
    background-image: url(Img/hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;   /**to align this paragraph in bottom**/
}

.hero-msg{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-bottom: 25px;

}

.hero-msg a{
    color: #007185;
}
